* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.section-sign {
  background-color: #C1C1C1;
  width: 100%;
  min-height: 560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-sign .sign-content {
    width: 100%;
    height: 60%;
    padding-top: 60px;
    padding-bottom: 30px; }
    .section-sign .sign-content-row {
      display: flex;
      padding-left: 150px; }
      .section-sign .sign-content-row .sign-account {
        font-size: 25px;
        color: #51514E;
        font-weight: 700;
        padding-top: 2px; }
        .section-sign .sign-content-row .sign-account p {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 10px; }
          .section-sign .sign-content-row .sign-account p a {
            color: #51514E;
            text-decoration: none; }
            .section-sign .sign-content-row .sign-account p a:hover {
              color: #FB7C35; }
          .section-sign .sign-content-row .sign-account p:nth-child(1) {
            margin-top: 40px; }
      .section-sign .sign-content-row ul {
        padding-left: 350px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .section-sign .sign-content-row ul li {
          width: 100%;
          display: flex;
          align-items: center;
          padding-left: 50px;
          margin-bottom: 15px; }
        .section-sign .sign-content-row ul .email input,
        .section-sign .sign-content-row ul .pass input {
          height: 40px;
          border: 1px solid #FB7C35;
          width: 80%;
          padding-left: 15px; }
          .section-sign .sign-content-row ul .email input:focus,
          .section-sign .sign-content-row ul .pass input:focus {
            outline-width: 0; }
        .section-sign .sign-content-row ul .forget span {
          color: #FFFFFF;
          margin-left: 10px;
          font-size: 14px; }
        .section-sign .sign-content-row ul .title {
          font-size: 25px;
          color: #51514E;
          font-weight: 700; }
        .section-sign .sign-content-row ul .icon {
          margin-top: 20px;
          width: 70%;
          padding-left: 0px;
          justify-content: space-evenly; }
          .section-sign .sign-content-row ul .icon-sign img {
            cursor: pointer;
            width: 50px;
            height: auto;
            object-fit: contain; }
        .section-sign .sign-content-row ul .btn {
          font-size: 13px;
          color: #51514E; }
          .section-sign .sign-content-row ul .btn input {
            width: 120px;
            height: 30px;
            border: none;
            background-color: #FB7C35;
            border-radius: 4px;
            color: #FFFFFF; }
            .section-sign .sign-content-row ul .btn input:focus {
              outline-width: 0; }
          .section-sign .sign-content-row ul .btn span {
            margin-left: 10px; }
          .section-sign .sign-content-row ul .btn a {
            margin-left: 5px;
            color: #51514E; }

.sub {
  width: 100%;
  display: flex; }
  .sub .col-sub {
    padding-top: 30px;
    padding-bottom: 40px;
    height: 100%;
    width: 40%;
    border-top: 1px solid #51514E;
    border-right: 1px solid #51514E; }
    .sub .col-sub p {
      font-weight: 700;
      text-align: center;
      margin: 0; }
      .sub .col-sub p img {
        margin-bottom: 10px;
        width: auto;
        height: 30px;
        object-fit: contain; }

.footer-menu {
  margin-top: 0px !important; }
