* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

section.cart {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  section.cart .cart-content .title {
    padding-left: 90px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    section.cart .cart-content .title svg {
      color: #FB7C35;
      margin-right: 15px; }
  section.cart .cart-content .col-cart {
    border: 3px solid #FB7C35;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    section.cart .cart-content .col-cart .sub-row-col {
      display: flex;
      align-items: center;
      padding-right: 0px;
      font-weight: 600; }
      section.cart .cart-content .col-cart .sub-row-col .check {
        width: 25px;
        height: 25px;
        border: 1px solid #FB7C35;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #FB7C35;
        display: flex;
        justify-content: center;
        margin-right: 20px; }
      section.cart .cart-content .col-cart .sub-row-col:nth-child(1) {
        padding-left: 90px; }

.col-product-cart {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }
  .col-product-cart .sub-row-col .cart-product img {
    width: 165px;
    height: auto;
    object-fit: contain; }
  .col-product-cart .sub-row-col .cart-text {
    margin-left: 20px; }
    .col-product-cart .sub-row-col .cart-text p {
      margin: 0; }
  .col-product-cart .sub-row-col .quantily {
    display: flex;
    height: 40px;
    width: 150px;
    background: #FFFFFF;
    border: 0.25px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px; }
    .col-product-cart .sub-row-col .quantily div {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 25px;
      cursor: pointer; }
      .col-product-cart .sub-row-col .quantily div:nth-child(2) {
        flex: 1;
        border-left: 0.25px solid #000000;
        border-right: 0.25px solid #000000; }

.col-total .sub-row-col .sub-total p {
  margin: 0;
  color: #000000;
  font-size: 20px;
  font-weight: 500; }
  .col-total .sub-row-col .sub-total p:nth-child(2) {
    color: #FB7C35;
    font-size: 18px;
    text-align: end; }

.col-total .sub-row-col input {
  margin-left: 30px;
  width: 150px;
  height: 50px;
  background: #FB7C35;
  border-radius: 5px;
  color: #FFFFFF;
  border: none; }
  .col-total .sub-row-col input:hover {
    opacity: .8;
    color: #000000; }

.product {
  max-width: 1190px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px; }
  .product-content-row .col-title {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .product-content-row .col-title .title {
      font-weight: 700; }
      .product-content-row .col-title .title-bottom {
        height: 2px;
        width: 100px;
        background-color: #FB7C35;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; }
  .product-content-row .slide {
    padding-top: 70px; }
    .product-content-row .slide .col-product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      border: 1px solid transparent;
      cursor: pointer; }
      .product-content-row .slide .col-product:hover {
        border: 1px solid #51514E;
        opacity: .8; }
      .product-content-row .slide .col-product p {
        font-size: 15px; }
        .product-content-row .slide .col-product p img {
          max-width: 100%;
          height: auto;
          object-fit: contain; }
      .product-content-row .slide .col-product .label {
        color: #000000;
        font-weight: 400; }
      .product-content-row .slide .col-product .total {
        color: #51514E;
        font-weight: 700; }
