* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

header {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/about/dark-big-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 691px;
  position: relative; }
  header .absolute-form {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); }
    header .absolute-form .row-main-form {
      display: flex;
      flex-direction: row; }
      header .absolute-form .row-main-form .content-left {
        max-width: 50%;
        padding: 0 9%; }
        @media (max-width: 991px) {
          header .absolute-form .row-main-form .content-left {
            padding: 0 2%; } }
        header .absolute-form .row-main-form .content-left .inner-col .top-title h2 {
          font-size: 24px;
          color: #fff;
          font-family: Roboto-400; }
        header .absolute-form .row-main-form .content-left .inner-col .content-title p {
          font-family: Roboto-300;
          color: #fff;
          font-size: 14px; }
      header .absolute-form .row-main-form .form-right {
        padding-left: 200px;
        padding-right: 100px; }
        @media (max-width: 1201px) {
          header .absolute-form .row-main-form .form-right {
            padding: 0 10%; } }
        @media (max-width: 991px) {
          header .absolute-form .row-main-form .form-right {
            padding: 0 5%; } }
        header .absolute-form .row-main-form .form-right .inner-col .form-contact form .top-title h3 {
          font-size: 17px;
          color: #fff;
          font-family: Roboto-700;
          line-height: 1.4;
          margin-bottom: 0.5em; }
        header .absolute-form .row-main-form .form-right .inner-col .form-contact form span {
          display: flex;
          justify-content: center; }
          header .absolute-form .row-main-form .form-right .inner-col .form-contact form span input {
            margin-bottom: 15px;
            outline: none;
            width: 100%;
            max-width: 300px;
            min-width: 270px;
            border: 1px solid #fb7c35;
            min-height: 35px;
            padding: 0 10px;
            border-radius: 3px;
            font-size: 14px;
            font-family: Roboto-300; }
          header .absolute-form .row-main-form .form-right .inner-col .form-contact form span textarea {
            outline: none;
            width: 100%;
            max-width: 300px;
            min-width: 270px;
            max-height: 150px;
            border: 1px solid #fb7c35;
            padding: 0 10px;
            font-size: 14px;
            font-family: Roboto-300;
            padding-top: 5px;
            border-radius: 3px; }
        header .absolute-form .row-main-form .form-right .inner-col .form-contact form a.sign {
          text-decoration: none;
          display: flex;
          width: fit-content;
          background-color: #fb7c35;
          padding: 10px 25px;
          border-radius: 3px;
          margin-left: auto;
          margin-right: auto; }
          header .absolute-form .row-main-form .form-right .inner-col .form-contact form a.sign:hover {
            border: 1px solid #fb7c35;
            background-color: #fff;
            transition-property: all;
            transition-duration: 0.5s; }
            header .absolute-form .row-main-form .form-right .inner-col .form-contact form a.sign:hover h2 {
              color: #fb7c35; }
          header .absolute-form .row-main-form .form-right .inner-col .form-contact form a.sign h2 {
            font-size: 16px;
            font-family: Roboto-700;
            color: #fff;
            text-align: center;
            margin: 0; }
        header .absolute-form .row-main-form .form-right .inner-col .form-contact form .text-content {
          margin-top: 20px; }
          header .absolute-form .row-main-form .form-right .inner-col .form-contact form .text-content p {
            color: #fff;
            font-size: 14px;
            font-family: Roboto-700;
            text-align: center; }
  header .header {
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #fff; }
              header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

section.main-section {
  max-width: 1190px;
  margin: 0 auto;
  padding: 50px 0 100px 0; }
  section.main-section .container-procedure {
    padding: 0; }
    section.main-section .container-procedure .main-row-procedure .top-title {
      width: 100%;
      margin-bottom: 50px; }
      section.main-section .container-procedure .main-row-procedure .top-title h2 {
        text-align: center;
        font-size: 21px;
        font-family: Roboto-700;
        margin: 0; }
      section.main-section .container-procedure .main-row-procedure .top-title .title-bottom {
        height: 2px;
        width: 100px;
        background-color: #fb7c35;
        margin: 5px auto 0 auto; }
    section.main-section .container-procedure .main-row-procedure .row-content {
      display: flex; }
      section.main-section .container-procedure .main-row-procedure .row-content .col-procedure {
        padding: 0 30px; }
        @media (max-width: 1601px) {
          section.main-section .container-procedure .main-row-procedure .row-content .col-procedure {
            max-width: 33.3333%; } }
        @media (max-width: 993px) {
          section.main-section .container-procedure .main-row-procedure .row-content .col-procedure {
            max-width: 100%; } }
      section.main-section .container-procedure .main-row-procedure .row-content .col-inner .top-img img {
        cursor: pointer;
        width: 100%;
        height: 100%; }
        @media (max-width: 1601px) {
          section.main-section .container-procedure .main-row-procedure .row-content .col-inner .top-img img {
            height: 230px; } }
        @media (max-width: 1201px) {
          section.main-section .container-procedure .main-row-procedure .row-content .col-inner .top-img img {
            height: 180px; } }
        @media (max-width: 993px) {
          section.main-section .container-procedure .main-row-procedure .row-content .col-inner .top-img img {
            height: 600px; } }
      section.main-section .container-procedure .main-row-procedure .row-content .col-inner .content-col {
        margin-top: 30px; }
        section.main-section .container-procedure .main-row-procedure .row-content .col-inner .content-col a {
          text-decoration: none; }
          section.main-section .container-procedure .main-row-procedure .row-content .col-inner .content-col a h2 {
            font-size: 16px;
            font-family: Roboto-700;
            color: #fb7c35;
            text-align: center;
            margin-bottom: 20px; }
            section.main-section .container-procedure .main-row-procedure .row-content .col-inner .content-col a h2:hover {
              opacity: 0.7; }
        section.main-section .container-procedure .main-row-procedure .row-content .col-inner .content-col p {
          font-size: 14px;
          font-family: Roboto-400;
          padding: 0 40px;
          text-align: center; }
    section.main-section .container-procedure .middle-title {
      width: 100%;
      text-align: center;
      margin-top: 100px; }
      section.main-section .container-procedure .middle-title p {
        margin-bottom: 5px;
        font-size: 14px;
        font-family: Roboto-700; }
    section.main-section .container-procedure .row-contact-info {
      display: flex;
      width: 100%;
      margin-top: 100px; }
      section.main-section .container-procedure .row-contact-info .left-col .inner-col img {
        object-fit: cover;
        width: 100%;
        max-height: 400px; }
        @media (max-width: 993px) {
          section.main-section .container-procedure .row-contact-info .left-col .inner-col img {
            max-height: 300px; } }
      section.main-section .container-procedure .row-contact-info .right-col {
        display: flex;
        align-items: center;
        padding-left: 50px; }
      @media (max-width: 993px) {
        section.main-section .container-procedure .row-contact-info {
          padding: 0 0 0 20px; } }
      section.main-section .container-procedure .row-contact-info .text-info p {
        margin: 0;
        color: #000000;
        font-family: Roboto-400;
        font-size: 17px; }
      section.main-section .container-procedure .row-contact-info .text-info .hotline {
        cursor: pointer;
        margin-top: 35px;
        background-color: #fb7c35;
        max-width: fit-content;
        padding: 10px 30px;
        border-radius: 3px; }
        section.main-section .container-procedure .row-contact-info .text-info .hotline:hover {
          opacity: 0.8; }
        section.main-section .container-procedure .row-contact-info .text-info .hotline h3 {
          font-size: 14px;
          font-family: Roboto-400;
          color: #fff;
          margin: 0; }
