* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex; }
  ul li {
    list-style: none; }

body {
  overflow-x: hidden !important; }

img {
  object-fit: cover; }

header {
  width: 100%;
  margin: 0 auto; }
  header .header {
    width: 100vw;
    margin: 0 auto;
    background-color: #51514E;
    opacity: .9; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 100%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #FFFFFF;
              font-weight: 400;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
            header .header-content .menu ul li:nth-child(1) {
              background-color: #FB7C35;
              opacity: .5;
              border-radius: 4px; }
              header .header-content .menu ul li:nth-child(1) a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #FB7C35;
              border-radius: 4px;
              background-color: #51514E;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #FFFFFF;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #FFFFFF;
              background-color: #FB7C35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #FB7C35; }
