* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex; }
  ul li {
    list-style: none; }

body {
  overflow-x: hidden !important; }

img {
  object-fit: cover; }

header {
  width: 100%;
  margin: 0 auto; }
  header .header {
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9;
    position: fixed;
    z-index: 9;
    width: 100%; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #fff; }
              header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

.footer-menu {
  width: 100%;
  min-height: 261px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .footer-menu .footer-content {
    margin: 0 auto;
    padding-top: 40px; }
    .footer-menu .footer-content-row .top-footer .left-content .menu-footer {
      display: flex;
      flex-direction: column; }
      .footer-menu .footer-content-row .top-footer .left-content .menu-footer li {
        margin-top: 10px; }
        .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a {
          font-weight: 600;
          color: #ffffff;
          text-decoration: none; }
          .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a:hover {
            color: #fb7c35; }
    .footer-menu .footer-content-row .top-footer .right-content p {
      margin-bottom: 0px;
      margin-top: 3px;
      color: #ffffff;
      font-weight: 400; }
    .footer-menu .footer-content-row .top-footer .right-content .title {
      font-weight: 600; }

.footer-bottom {
  width: 100%;
  min-height: 80px;
  background-color: #333333;
  border-top: 2px solid #ffffff; }
  .footer-bottom-content {
    min-height: 80px; }
    .footer-bottom-content .col-footer {
      min-height: 80px;
      font-size: 13px;
      color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .footer-bottom-content .col-footer .col-follow {
        display: flex;
        min-height: 80px;
        padding: 0px; }
        .footer-bottom-content .col-footer .col-follow li {
          margin-left: 20px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .footer-bottom-content .col-footer .col-follow li p {
            margin: 0 auto;
            cursor: pointer; }
            .footer-bottom-content .col-footer .col-follow li p img {
              width: 30px;
              height: auto;
              object-fit: contain; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(2) {
            color: #0033d9;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(3) {
            color: #ff0000;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(4) {
            color: #0066ff;
            font-size: 16px; }

ul {
  display: flex; }
  ul li {
    list-style: none; }

body {
  overflow-x: hidden !important; }

img {
  object-fit: cover; }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

.slider-header {
  max-width: 100%;
  margin: auto; }
  .slider-header header {
    position: absolute;
    top: 0;
    margin: auto;
    z-index: 999;
    width: 100%; }
  .slider-header-multi .image-header {
    position: relative; }
    .slider-header-multi .image-header img {
      width: 100%;
      height: auto;
      object-fit: contain; }
    .slider-header-multi .image-header input {
      position: absolute;
      top: 70%;
      left: 45%;
      border: none;
      width: 200px;
      height: 50px;
      color: #FFFFFF;
      background-color: #FB7C35; }
      .slider-header-multi .image-header input:focus {
        outline-width: 0; }
      .slider-header-multi .image-header input:hover {
        opacity: .8; }

.main {
  max-width: 1190px;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }
  .main-content .col-main {
    position: relative;
    margin-top: 21px;
    min-height: 383px; }
    .main-content .col-main .title {
      font-weight: 700;
      font-size: 25px; }
      .main-content .col-main .title-bottom {
        height: 3px;
        width: 100px;
        background-color: #FB7C35;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; }
    .main-content .col-main .txt p {
      margin: 0;
      font-size: 15px;
      font-weight: 400; }
    .main-content .col-main .btn input {
      width: 200px;
      height: 50px;
      border: none;
      background-color: #FB7C35;
      color: #FFFFFF;
      border-radius: 5px; }
      .main-content .col-main .btn input:hover {
        opacity: .8; }
      .main-content .col-main .btn input:focus {
        outline-width: 0; }
  .main-content .col-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(196, 196, 196, 0.6); }
  .main-content .col-img {
    overflow: hidden;
    padding: 0; }
    .main-content .col-img img {
      width: 100%;
      height: auto;
      object-fit: cover; }

.col-room {
  padding: 0;
  height: fit-content;
  position: relative;
  overflow: hidden; }
  .col-room img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition-duration: 1.5s;
    transition-timing-function: linear; }
  .col-room .col-main-content {
    z-index: 9999;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 250px;
    height: 250px;
    background: rgba(81, 81, 78, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .col-room .col-main-content p {
      color: #FFFFFF;
      font-size: 25px;
      font-weight: 700;
      margin: 0;
      text-align: center; }
      .col-room .col-main-content p:nth-child(2) {
        color: #FB7C35;
        font-weight: 600;
        font-size: 15px;
        margin-top: -20px; }
    .col-room .col-main-content a input {
      width: 100px;
      height: 30px;
      background: #51514E;
      opacity: 0.7;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 14px;
      color: #FFFFFF; }

.col-small-room {
  margin-left: 20px;
  padding-right: 0px;
  position: relative;
  height: auto;
  overflow: hidden !important;
  flex: 1; }
  .col-small-room img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: auto;
    min-height: 100%;
    transition-duration: 1.5s;
    transition-timing-function: linear; }
  .col-small-room .col-main-content {
    z-index: 9999;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 250px;
    height: 250px;
    background: #51514E;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .col-small-room .col-main-content p {
      color: #FFFFFF;
      font-size: 25px;
      font-weight: 700;
      margin: 0;
      text-align: center; }
      .col-small-room .col-main-content p:nth-child(2) {
        color: #FB7C35;
        font-weight: 600;
        font-size: 15px;
        margin-top: -20px; }
    .col-small-room .col-main-content a input {
      width: 100px;
      height: 30px;
      background: #51514E;
      opacity: 0.7;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 14px;
      color: #FFFFFF; }

.col-medium-room {
  position: relative;
  height: auto;
  padding: 0;
  overflow: hidden; }
  .col-medium-room img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition-duration: 1.5s;
    transition-timing-function: linear; }
  .col-medium-room .col-main-content {
    z-index: 9999;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 250px;
    height: 250px;
    background: #51514E;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .col-medium-room .col-main-content p {
      color: #FFFFFF;
      font-size: 25px;
      font-weight: 700;
      margin: 0;
      text-align: center; }
      .col-medium-room .col-main-content p:nth-child(2) {
        color: #FB7C35;
        font-weight: 600;
        font-size: 15px;
        margin-top: -20px; }
    .col-medium-room .col-main-content a input {
      width: 100px;
      height: 30px;
      background: #51514E;
      opacity: 0.7;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 14px;
      color: #FFFFFF; }

.col-second {
  flex: 1;
  margin-left: 20px; }

.commit {
  max-width: 1190px;
  margin: 0 auto;
  height: auto; }
  .commit-content {
    padding-top: 100px; }
    .commit-content .col-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .commit-content .col-title .title {
        font-weight: 700;
        font-size: 25px; }
        .commit-content .col-title .title-bottom {
          height: 3px;
          width: 100px;
          background-color: #FB7C35;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px; }
    .commit-content .col-commit {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .commit-content .col-commit p {
        font-size: 15px;
        font-weight: 400;
        text-align: center; }
        .commit-content .col-commit p img {
          max-width: 100%;
          height: auto;
          object-fit: cover; }
      .commit-content .col-commit .label {
        font-weight: 700; }

.product {
  max-width: 1190px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative; }
  .product .title {
    text-align: center;
    font-weight: 700;
    font-size: 25px; }
    .product .title-bottom {
      height: 3px;
      width: 100px;
      background-color: #FB7C35;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px; }
  .product .slider-product {
    margin-top: 50px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .product .slider-product-col {
      width: 30%; }
      .product .slider-product-col .col-product {
        padding: 18px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; }
        .product .slider-product-col .col-product p {
          font-size: 15px; }
          .product .slider-product-col .col-product p img {
            width: 100%;
            height: 100px;
            object-fit: contain; }
          .product .slider-product-col .col-product p:nth-child(1) {
            text-align: center; }
        .product .slider-product-col .col-product-content {
          margin-top: 15px;
          display: flex;
          width: 100%;
          justify-content: space-between; }
          .product .slider-product-col .col-product-content .left .label {
            color: #000000;
            font-weight: 400;
            text-align: start;
            margin: 0; }
          .product .slider-product-col .col-product-content .left .total {
            color: #51514E;
            font-weight: 700; }
          .product .slider-product-col .col-product-content .right {
            display: flex;
            align-items: center; }
        .product .slider-product-col .col-product:hover {
          opacity: .8; }
  .product-left {
    position: absolute;
    color: #000000;
    font-size: 25px;
    left: 0%;
    top: 50%;
    cursor: pointer; }
  .product-right {
    position: absolute;
    color: #000000;
    font-size: 25px;
    right: 0%;
    top: 50%;
    cursor: pointer; }

.introduce {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 1190px;
  min-height: 569px;
  background-image: url(../img/home/slide-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .introduce-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 569px; }
    .introduce-content img {
      width: 200px;
      height: auto;
      object-fit: contain; }

.showroom {
  max-width: 1190px;
  min-height: 569px;
  margin: 0 auto; }
  .showroom-content {
    padding-top: 30px; }
    .showroom-content .col-title {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .showroom-content .col-title .title {
        font-weight: 700;
        font-size: 25px; }
        .showroom-content .col-title .title-bottom {
          height: 3px;
          width: 100px;
          background-color: #FB7C35;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px; }
      .showroom-content .col-title .text {
        padding-top: 20px; }
        .showroom-content .col-title .text p {
          margin: 0;
          font-weight: 400;
          font-size: 13px; }
    .showroom-content .col-showroom {
      padding-left: 0px;
      padding-right: 0px; }
      .showroom-content .col-showroom .image img {
        max-width: 100%;
        height: auto;
        object-fit: contain; }

.slider-multi {
  max-width: 1190px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .slider-multi .slider img {
    max-width: 100%;
    height: auto;
    object-fit: contain; }
  .slider-multi .left-slider {
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    left: 3%;
    top: 40%;
    opacity: .7;
    cursor: pointer; }
  .slider-multi .right-slider {
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    right: 3%;
    top: 40%;
    opacity: .7;
    cursor: pointer; }

.hover {
  transform: scale(1.2); }

.overlay,
.overlay-small,
.overlay-medium,
.overlay-second {
  top: 0%;
  position: absolute;
  height: 100px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-duration: 2s; }

.hover-opacity {
  opacity: 1; }
