* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

header {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/home/slide-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 691px;
  position: relative; }
  header .header {
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #fff; }
              header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

.main {
  margin-top: 150px;
  max-width: 1190px;
  margin: 0 auto;
  height: auto; }
  .main-content .row-sect-top {
    padding: 50px 0 0 0; }
    .main-content .row-sect-top .top-title {
      width: 100%;
      text-align: center;
      padding-bottom: 50px; }
      .main-content .row-sect-top .top-title h2 {
        font-size: 21px;
        font-weight: 700;
        margin: 0; }
      .main-content .row-sect-top .top-title .title-bottom {
        height: 2px;
        width: 100px;
        background-color: #fb7c35;
        margin: 5px auto 0 auto; }
      .main-content .row-sect-top .top-title .content-title {
        margin-top: 30px; }
        .main-content .row-sect-top .top-title .content-title p {
          margin: 0;
          font-size: 14px; }
    .main-content .row-sect-top .row-inner-col {
      display: flex; }
      @media (max-width: 1600px) {
        .main-content .row-sect-top .row-inner-col {
          flex-direction: row; } }
      @media (max-width: 768px) {
        .main-content .row-sect-top .row-inner-col {
          flex-direction: column; } }
      .main-content .row-sect-top .row-inner-col .col-main-sect-top {
        padding: 0 5px; }
        @media (max-width: 1600px) {
          .main-content .row-sect-top .row-inner-col .col-main-sect-top {
            width: 33.3333%; } }
        @media (max-width: 768px) {
          .main-content .row-sect-top .row-inner-col .col-main-sect-top {
            margin: 0 auto 20px auto;
            width: 100%; } }
        .main-content .row-sect-top .row-inner-col .col-main-sect-top img {
          object-fit: cover;
          width: 100%; }
  .main-content .row-mission {
    margin-top: 50px;
    padding: 0; }
    .main-content .row-mission .row-inner-col {
      display: flex;
      justify-content: space-between; }
      .main-content .row-mission .row-inner-col .col-left-mission {
        width: 66.6667%;
        padding: 0; }
        @media (max-width: 993px) {
          .main-content .row-mission .row-inner-col .col-left-mission {
            width: 100%; } }
        .main-content .row-mission .row-inner-col .col-left-mission img {
          object-fit: cover;
          width: 100%;
          min-height: 416px; }
      .main-content .row-mission .row-inner-col .col-right-mission {
        display: flex;
        align-items: center;
        padding: 0 0 0 50px; }
        @media (max-width: 992px) {
          .main-content .row-mission .row-inner-col .col-right-mission {
            padding: 30px 0 0 0; } }
        .main-content .row-mission .row-inner-col .col-right-mission .content-col h2 {
          margin: 0;
          color: #000000;
          font-weight: 600;
          font-size: 20px;
          display: flex;
          justify-content: center; }
          @media (max-width: 993px) {
            .main-content .row-mission .row-inner-col .col-right-mission .content-col h2 {
              text-align: center; } }
          .main-content .row-mission .row-inner-col .col-right-mission .content-col h2 span {
            font-weight: bolder;
            font-size: 21px; }
        .main-content .row-mission .row-inner-col .col-right-mission .content-col .title-bottom {
          height: 2px;
          width: 70px;
          background-color: #fb7c35;
          margin-right: auto;
          margin-left: auto;
          margin-top: 5px; }
          @media (max-width: 993px) {
            .main-content .row-mission .row-inner-col .col-right-mission .content-col .title-bottom {
              margin: 5px auto 0 auto; } }
        .main-content .row-mission .row-inner-col .col-right-mission .content-col .content-title {
          margin-top: 30px; }
          .main-content .row-mission .row-inner-col .col-right-mission .content-col .content-title p {
            margin: 0;
            font-size: 14px;
            color: #000000; }
  .main-content .row-vision {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 250px;
    background-color: #51514E;
    margin-top: 70px; }
    .main-content .row-vision .left-col {
      max-width: 33.3333%;
      padding: 0 4em 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      @media (max-width: 769px) {
        .main-content .row-vision .left-col {
          padding: 0 1em 0 0; } }
      .main-content .row-vision .left-col .inner-col {
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 100%; }
        .main-content .row-vision .left-col .inner-col h2 {
          margin: 0; }
          .main-content .row-vision .left-col .inner-col h2 span {
            font-weight: bolder;
            font-size: 21px !important;
            color: #fff; }
        .main-content .row-vision .left-col .inner-col .title-bottom {
          height: 2px;
          width: 70px;
          background-color: #fb7c35;
          margin-right: auto;
          margin-left: auto;
          margin-top: 5px; }
    .main-content .row-vision .right-col {
      max-width: 66.6667%;
      display: flex;
      align-items: center;
      padding: 0 150px 0 0; }
      @media (max-width: 769px) {
        .main-content .row-vision .right-col {
          padding: 0 70px 0 0; } }
      .main-content .row-vision .right-col .inner-col {
        display: flex;
        flex-direction: column; }
        .main-content .row-vision .right-col .inner-col p {
          margin-bottom: 10px;
          color: #fff;
          font-size: 14px; }
  .main-content .row-luxury-interior {
    margin-top: 50px; }
    .main-content .row-luxury-interior .row-inner-col {
      display: flex; }
      .main-content .row-luxury-interior .row-inner-col .left-col {
        display: flex;
        align-items: center;
        padding: 50px 30px 50px 0; }
        @media (max-width: 993px) {
          .main-content .row-luxury-interior .row-inner-col .left-col {
            padding: 0 0 30px 0 !important; } }
        .main-content .row-luxury-interior .row-inner-col .left-col .content-col h2 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          font-weight: bolder;
          font-size: 21px; }
        .main-content .row-luxury-interior .row-inner-col .left-col .content-col .title-bottom {
          height: 2px;
          width: 100px;
          background-color: #fb7c35;
          margin: 0 auto;
          margin-top: 5px; }
        .main-content .row-luxury-interior .row-inner-col .left-col .content-col .content-title {
          margin-top: 20px; }
          .main-content .row-luxury-interior .row-inner-col .left-col .content-col .content-title p {
            margin-bottom: 20px;
            font-size: 14px; }
          .main-content .row-luxury-interior .row-inner-col .left-col .content-col .content-title p.no-mg {
            margin: 0; }
      .main-content .row-luxury-interior .row-inner-col .right-col {
        width: 66.6667%;
        padding: 0; }
        @media (max-width: 993px) {
          .main-content .row-luxury-interior .row-inner-col .right-col {
            width: 100% !important; } }
        .main-content .row-luxury-interior .row-inner-col .right-col .col-inner {
          height: 100%;
          max-height: 600px !important; }
          .main-content .row-luxury-interior .row-inner-col .right-col .col-inner img {
            width: 100%;
            height: 100% !important;
            min-height: 416px; }
    .main-content .row-luxury-interior .top-title {
      margin-top: 50px;
      width: 100%;
      padding-bottom: 50px; }
      .main-content .row-luxury-interior .top-title h2 {
        font-weight: bolder;
        font-size: 21px;
        text-align: center;
        margin: 0; }
      .main-content .row-luxury-interior .top-title .content-title {
        margin-top: 30px; }
        .main-content .row-luxury-interior .top-title .content-title p {
          margin: 0;
          font-size: 14px;
          text-align: center; }
      .main-content .row-luxury-interior .top-title .title-bottom {
        height: 2px;
        width: 100px;
        background-color: #fb7c35;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; }

.row {
  width: 100%;
  margin: 0; }

h2 {
  font-size: 21px;
  font-family: Roboto-700 !important; }

p {
  font-size: 14px;
  font-family: Roboto-400 !important; }
