* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex; }
  ul li {
    list-style: none; }

body {
  overflow-x: hidden !important; }

img {
  object-fit: cover; }

header {
  width: 100%;
  margin: 0 auto; }
  header .header {
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9;
    position: fixed;
    z-index: 9;
    width: 100%; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #fff; }
              header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

.footer-menu {
  width: 100%;
  min-height: 261px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .footer-menu .footer-content {
    margin: 0 auto;
    padding-top: 40px; }
    .footer-menu .footer-content-row .top-footer .left-content .menu-footer {
      display: flex;
      flex-direction: column; }
      .footer-menu .footer-content-row .top-footer .left-content .menu-footer li {
        margin-top: 10px; }
        .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a {
          font-weight: 600;
          color: #ffffff;
          text-decoration: none; }
          .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a:hover {
            color: #fb7c35; }
    .footer-menu .footer-content-row .top-footer .right-content p {
      margin-bottom: 0px;
      margin-top: 3px;
      color: #ffffff;
      font-weight: 400; }
    .footer-menu .footer-content-row .top-footer .right-content .title {
      font-weight: 600; }

.footer-bottom {
  width: 100%;
  min-height: 80px;
  background-color: #333333;
  border-top: 2px solid #ffffff; }
  .footer-bottom-content {
    min-height: 80px; }
    .footer-bottom-content .col-footer {
      min-height: 80px;
      font-size: 13px;
      color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .footer-bottom-content .col-footer .col-follow {
        display: flex;
        min-height: 80px;
        padding: 0px; }
        .footer-bottom-content .col-footer .col-follow li {
          margin-left: 20px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .footer-bottom-content .col-footer .col-follow li p {
            margin: 0 auto;
            cursor: pointer; }
            .footer-bottom-content .col-footer .col-follow li p img {
              width: 30px;
              height: auto;
              object-fit: contain; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(2) {
            color: #0033d9;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(3) {
            color: #ff0000;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(4) {
            color: #0066ff;
            font-size: 16px; }

.meetAndAdvise {
  max-width: 1190px;
  margin: 0 auto; }
  .meetAndAdvise .container {
    padding: 0;
    margin: 0 auto; }
    .meetAndAdvise .container .wrap-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0; }
      .meetAndAdvise .container .wrap-row .top-title {
        margin: 50px 0; }
        .meetAndAdvise .container .wrap-row .top-title h2 {
          text-align: center;
          font-size: 21px;
          font-family: Roboto-700;
          margin: 0; }
        .meetAndAdvise .container .wrap-row .top-title .title-bottom {
          height: 2px;
          width: 100px;
          background-color: #fb7c35;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px; }
      .meetAndAdvise .container .wrap-row .hero-image {
        margin-bottom: 30px;
        height: 100%;
        max-height: 600px;
        width: 100%; }
        .meetAndAdvise .container .wrap-row .hero-image img {
          width: 100%;
          max-height: 600px;
          object-fit: unset; }
      .meetAndAdvise .container .wrap-row .row-content {
        display: flex;
        margin: 50px 0; }
        .meetAndAdvise .container .wrap-row .row-content .col-content p {
          margin-bottom: 5px;
          font-size: 14px;
          font-family: Roboto-300; }
      .meetAndAdvise .container .wrap-row .row-image .col-img img {
        object-fit: unset;
        width: 100%;
        max-height: 416px; }
        @media (max-width: 1201px) {
          .meetAndAdvise .container .wrap-row .row-image .col-img img {
            max-height: 348px; } }
        @media (max-width: 992px) {
          .meetAndAdvise .container .wrap-row .row-image .col-img img {
            max-height: 258px; } }
