* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex; }
  ul li {
    list-style: none; }

body {
  overflow-x: hidden !important; }

img {
  object-fit: cover; }

header {
  width: 100%;
  margin: 0 auto; }
  header .header {
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9;
    position: fixed;
    z-index: 9;
    width: 100%; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #fff; }
              header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

.footer-menu {
  width: 100%;
  min-height: 261px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .footer-menu .footer-content {
    margin: 0 auto;
    padding-top: 40px; }
    .footer-menu .footer-content-row .top-footer .left-content .menu-footer {
      display: flex;
      flex-direction: column; }
      .footer-menu .footer-content-row .top-footer .left-content .menu-footer li {
        margin-top: 10px; }
        .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a {
          font-weight: 600;
          color: #ffffff;
          text-decoration: none; }
          .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a:hover {
            color: #fb7c35; }
    .footer-menu .footer-content-row .top-footer .right-content p {
      margin-bottom: 0px;
      margin-top: 3px;
      color: #ffffff;
      font-weight: 400; }
    .footer-menu .footer-content-row .top-footer .right-content .title {
      font-weight: 600; }

.footer-bottom {
  width: 100%;
  min-height: 80px;
  background-color: #333333;
  border-top: 2px solid #ffffff; }
  .footer-bottom-content {
    min-height: 80px; }
    .footer-bottom-content .col-footer {
      min-height: 80px;
      font-size: 13px;
      color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .footer-bottom-content .col-footer .col-follow {
        display: flex;
        min-height: 80px;
        padding: 0px; }
        .footer-bottom-content .col-footer .col-follow li {
          margin-left: 20px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .footer-bottom-content .col-footer .col-follow li p {
            margin: 0 auto;
            cursor: pointer; }
            .footer-bottom-content .col-footer .col-follow li p img {
              width: 30px;
              height: auto;
              object-fit: contain; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(2) {
            color: #0033d9;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(3) {
            color: #ff0000;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(4) {
            color: #0066ff;
            font-size: 16px; }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

.detail-product {
  margin-top: 30px;
  max-width: 1190px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .detail-product-content {
    padding-bottom: 30px; }
    .detail-product-content .col-product {
      padding-left: 50px; }
      .detail-product-content .col-product-slide img {
        width: 350px;
        height: 167px;
        object-fit: contain; }
      .detail-product-content .col-product-bottom {
        display: flex;
        justify-content: flex-start; }
        .detail-product-content .col-product-bottom img {
          margin-right: 40px;
          width: 120px;
          height: auto;
          object-fit: contain; }
      .detail-product-content .col-product-infor {
        display: flex;
        flex-direction: column; }
        .detail-product-content .col-product-infor li {
          margin-top: 20px;
          font-size: 15px;
          font-weight: 400;
          display: flex; }
          .detail-product-content .col-product-infor li span {
            font-weight: 700; }
          .detail-product-content .col-product-infor li .quantily {
            margin-left: 20px;
            display: flex;
            height: 40px;
            width: 150px;
            background: #FFFFFF;
            border: 0.25px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px; }
            .detail-product-content .col-product-infor li .quantily div {
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              font-size: 25px;
              cursor: pointer; }
              .detail-product-content .col-product-infor li .quantily div:nth-child(2) {
                flex: 1;
                border-left: 0.25px solid #000000;
                border-right: 0.25px solid #000000; }
          .detail-product-content .col-product-infor li .buy input {
            background: #FB7C35;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            height: 50px;
            width: 200px;
            color: #FFFFFF;
            border: none; }
            .detail-product-content .col-product-infor li .buy input:hover {
              opacity: .8;
              color: #000000; }
          .detail-product-content .col-product-infor li .add {
            padding-left: 50px; }
            .detail-product-content .col-product-infor li .add input {
              color: #FB7C35;
              border: 1px solid #FB7C35;
              background-color: transparent;
              height: 50px;
              width: 200px;
              border-radius: 5px; }
              .detail-product-content .col-product-infor li .add input:hover {
                color: #FFFFFF;
                background-color: #FB7C35; }
        .detail-product-content .col-product-infor .money {
          font-weight: bold;
          color: #FB7C35;
          font-size: 20px; }
        .detail-product-content .col-product-infor .title {
          font-size: 40px;
          font-weight: bold; }
        .detail-product-content .col-product-infor .color {
          width: 36px;
          height: 36px;
          background-color: #3C3939; }
      .detail-product-content .col-product:nth-child(1) {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px; }
      .detail-product-content .col-product:nth-child(3) {
        padding-left: 30px; }

.col-bottom {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: #51514E; }

.detail-product .col-text {
  margin-top: 20px; }
  .detail-product .col-text .title {
    font-weight: 700;
    padding-left: 60px; }
  .detail-product .col-text pre {
    font-family: Roboto-300;
    font-weight: 600;
    line-height: 25px; }

.product {
  max-width: 1190px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative; }
  .product .title {
    text-align: center;
    font-weight: 700;
    font-size: 25px; }
    .product .title-bottom {
      height: 3px;
      width: 100px;
      background-color: #FB7C35;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px; }
  .product .slider-product {
    margin-top: 50px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .product .slider-product-col {
      width: 30%; }
      .product .slider-product-col .col-product {
        padding: 18px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; }
        .product .slider-product-col .col-product p {
          font-size: 15px; }
          .product .slider-product-col .col-product p img {
            width: 100%;
            height: 100px;
            object-fit: contain; }
          .product .slider-product-col .col-product p:nth-child(1) {
            text-align: center; }
        .product .slider-product-col .col-product-content {
          margin-top: 15px;
          display: flex;
          width: 100%;
          justify-content: space-between; }
          .product .slider-product-col .col-product-content .left .label {
            color: #000000;
            font-weight: 400;
            text-align: start;
            margin: 0; }
          .product .slider-product-col .col-product-content .left .total {
            color: #51514E;
            font-weight: 700; }
          .product .slider-product-col .col-product-content .right {
            display: flex;
            align-items: center; }
        .product .slider-product-col .col-product:hover {
          opacity: .8; }
  .product-left {
    position: absolute;
    color: #000000;
    font-size: 25px;
    left: 0%;
    top: 50%;
    cursor: pointer; }
  .product-right {
    position: absolute;
    color: #000000;
    font-size: 25px;
    right: 0%;
    top: 50%;
    cursor: pointer; }
