* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

main {
  padding: 100px 0;
  display: flex;
  justify-content: center; }
  main .sign-success {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    main .sign-success .top-title h2 {
      font-size: 24px;
      text-align: center;
      font-family: Roboto-700; }
    main .sign-success .top-title .title-bottom {
      height: 2px;
      width: 100px;
      background-color: #fb7c35;
      margin: 5px auto 0 auto; }
    main .sign-success .content-title {
      margin-top: 30px; }
      main .sign-success .content-title p {
        margin: 0;
        text-align: center;
        font-size: 14px;
        font-family: Roboto-400; }
    main .sign-success .back-to-home {
      margin: 100px auto 0 auto; }
      main .sign-success .back-to-home a {
        padding: 0.7rem 1.5rem;
        background-color: #FB7C35;
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        border-radius: 3px;
        font-weight: 600; }
