* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.section-sign {
  background-image: url(../img/about/sign.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  max-width: 1190px;
  min-height: 560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-sign .sign-content {
    width: 50%;
    height: 60%;
    background-color: rgba(81, 81, 78, 0.8);
    padding-top: 60px;
    padding-bottom: 30px; }
    .section-sign .sign-content ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-sign .sign-content ul li {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 50px;
        margin-bottom: 15px; }
      .section-sign .sign-content ul .email input,
      .section-sign .sign-content ul .pass input {
        height: 40px;
        border: 1px solid #FB7C35;
        width: 80%;
        padding-left: 15px; }
        .section-sign .sign-content ul .email input:focus,
        .section-sign .sign-content ul .pass input:focus {
          outline-width: 0; }
      .section-sign .sign-content ul .forget span {
        color: #FFFFFF;
        margin-left: 10px;
        font-size: 14px; }
      .section-sign .sign-content ul .title {
        font-size: 25px;
        color: #FFFFFF;
        font-weight: 700; }
      .section-sign .sign-content ul .icon {
        margin-top: 20px;
        width: 70%;
        padding-left: 0px;
        justify-content: space-evenly; }
        .section-sign .sign-content ul .icon-sign img {
          cursor: pointer;
          width: 50px;
          height: auto;
          object-fit: contain; }
      .section-sign .sign-content ul .btn {
        font-size: 13px;
        color: #FFFFFF; }
        .section-sign .sign-content ul .btn input {
          width: 120px;
          height: 30px;
          border: none;
          background-color: #FB7C35;
          border-radius: 4px;
          color: #FFFFFF; }
          .section-sign .sign-content ul .btn input:focus {
            outline-width: 0; }
          .section-sign .sign-content ul .btn input:hover {
            color: #000;
            opacity: .8; }
        .section-sign .sign-content ul .btn span {
          margin-left: 10px; }
        .section-sign .sign-content ul .btn a {
          margin-left: 5px;
          color: #FFFFFF; }
      .section-sign .sign-content ul .know {
        color: #FFFFFF;
        font-size: 13px; }
        .section-sign .sign-content ul .know a {
          margin-left: 5px;
          color: #FB7C35; }

.bottom-sign-sub {
  margin-top: 150px;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: #000000; }

.sub {
  margin-top: 100px;
  width: 100%;
  display: flex; }
  .sub .col-sub {
    padding-top: 30px;
    padding-bottom: 40px;
    height: 100%;
    width: 40%;
    border-top: 1px solid #51514E;
    border-right: 1px solid #51514E; }
    .sub .col-sub p {
      font-weight: 700;
      text-align: center;
      margin: 0; }
      .sub .col-sub p img {
        margin-bottom: 10px;
        width: auto;
        height: 30px;
        object-fit: contain; }

.footer-menu {
  margin-top: 0px !important; }
