* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

.footer-menu {
  width: 100%;
  min-height: 261px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .footer-menu .footer-content {
    margin: 0 auto;
    padding-top: 40px; }
    .footer-menu .footer-content-row .top-footer .left-content .menu-footer {
      display: flex;
      flex-direction: column; }
      .footer-menu .footer-content-row .top-footer .left-content .menu-footer li {
        margin-top: 10px; }
        .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a {
          font-weight: 600;
          color: #FFFFFF;
          text-decoration: none; }
          .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a:hover {
            color: #FB7C35; }
        .footer-menu .footer-content-row .top-footer .left-content .menu-footer li .home {
          color: #FB7C35; }
    .footer-menu .footer-content-row .top-footer .right-content p {
      margin-bottom: 0px;
      margin-top: 3px;
      color: #FFFFFF;
      font-weight: 400; }
    .footer-menu .footer-content-row .top-footer .right-content .title {
      font-weight: 600; }

.footer-bottom {
  width: 100%;
  min-height: 80px;
  background-color: #333333;
  border-top: 2px solid #FFFFFF; }
  .footer-bottom-content {
    min-height: 80px; }
    .footer-bottom-content .col-footer {
      min-height: 80px;
      font-size: 13px;
      color: #E0E0E0;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .footer-bottom-content .col-footer .col-follow {
        display: flex;
        min-height: 80px;
        padding: 0px; }
        .footer-bottom-content .col-footer .col-follow li {
          margin-left: 20px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .footer-bottom-content .col-footer .col-follow li p {
            margin: 0 auto;
            cursor: pointer; }
            .footer-bottom-content .col-footer .col-follow li p img {
              width: 30px;
              height: auto;
              object-fit: contain; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(2) {
            color: #0033D9;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(3) {
            color: #FF0000;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(4) {
            color: #0066FF;
            font-size: 16px; }
