* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Roboto-700;
  src: url(../font/Roboto-700.ttf); }

@font-face {
  font-family: Roboto-400;
  src: url(../font/Roboto-400.ttf); }

@font-face {
  font-family: Roboto-300;
  src: url(../font/Roboto-300.ttf); }

@font-face {
  font-family: TiTiWeb-400;
  src: url(../font/TitilliumWeb-Regular.ttf); }

@font-face {
  font-family: TiTiWeb-700;
  src: url(../font/TitilliumWeb-Bold.ttf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto-300;
  display: block;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden; }

ul {
  display: flex; }
  ul li {
    list-style: none; }

body {
  overflow-x: hidden !important; }

img {
  object-fit: cover; }

header {
  width: 100%;
  margin: 0 auto; }
  header .header {
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9;
    position: fixed;
    z-index: 9;
    width: 100%; }
    header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      header .header-content .menu {
        flex: 1; }
        header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            header .header-content .menu ul .cart svg {
              color: #fff; }
              header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

.footer-menu {
  width: 100%;
  min-height: 261px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .footer-menu .footer-content {
    margin: 0 auto;
    padding-top: 40px; }
    .footer-menu .footer-content-row .top-footer .left-content .menu-footer {
      display: flex;
      flex-direction: column; }
      .footer-menu .footer-content-row .top-footer .left-content .menu-footer li {
        margin-top: 10px; }
        .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a {
          font-weight: 600;
          color: #ffffff;
          text-decoration: none; }
          .footer-menu .footer-content-row .top-footer .left-content .menu-footer li a:hover {
            color: #fb7c35; }
    .footer-menu .footer-content-row .top-footer .right-content p {
      margin-bottom: 0px;
      margin-top: 3px;
      color: #ffffff;
      font-weight: 400; }
    .footer-menu .footer-content-row .top-footer .right-content .title {
      font-weight: 600; }

.footer-bottom {
  width: 100%;
  min-height: 80px;
  background-color: #333333;
  border-top: 2px solid #ffffff; }
  .footer-bottom-content {
    min-height: 80px; }
    .footer-bottom-content .col-footer {
      min-height: 80px;
      font-size: 13px;
      color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .footer-bottom-content .col-footer .col-follow {
        display: flex;
        min-height: 80px;
        padding: 0px; }
        .footer-bottom-content .col-footer .col-follow li {
          margin-left: 20px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .footer-bottom-content .col-footer .col-follow li p {
            margin: 0 auto;
            cursor: pointer; }
            .footer-bottom-content .col-footer .col-follow li p img {
              width: 30px;
              height: auto;
              object-fit: contain; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(2) {
            color: #0033d9;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(3) {
            color: #ff0000;
            font-size: 16px; }
          .footer-bottom-content .col-footer .col-follow li:nth-child(4) {
            color: #0066ff;
            font-size: 16px; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    color: #000000; }

header {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/home/slide-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 691px;
  position: relative;
  z-index: 99; }
  header .header {
    width: 100%;
    margin: 0 auto;
    background-color: #51514e;
    opacity: 0.9;
    position: fixed; }
    z
header .header-content {
      max-width: 1190px;
      min-height: 70px;
      display: flex;
      align-items: center;
      min-height: 70px; }
      z
header .header-content .logo {
        width: 20%;
        display: flex;
        justify-content: flex-start; }
        z
header .header-content .logo img {
          max-width: 60%;
          height: auto;
          object-fit: contain; }
      z
header .header-content .menu {
        flex: 1; }
        z
header .header-content .menu ul {
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: flex-end; }
          z
header .header-content .menu ul li {
            display: flex;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px; }
            z
header .header-content .menu ul li a {
              font-size: 13px;
              color: #ffffff;
              font-weight: 500;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center; }
              z
header .header-content .menu ul li a:hover {
                color: #fb7c35; }
            z
header .header-content .menu ul li:nth-child(1) a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 45px; }
            @media (max-width: 1025px) {
              z
header .header-content .menu ul li {
                padding-left: 6px;
                padding-right: 6px; } }
          z
header .header-content .menu ul .search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; }
            z
header .header-content .menu ul .search input {
              height: 30px;
              border: 1px solid #fb7c35;
              border-radius: 4px;
              background-color: #51514e;
              padding-left: 5px; }
              z
header .header-content .menu ul .search input::placeholder {
                color: #ffffff;
                font-size: 13px;
                padding-bottom: 4px; }
              z
header .header-content .menu ul .search input:focus {
                outline-width: 0; }
            z
header .header-content .menu ul .search .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              right: 3%;
              position: absolute;
              width: 30px;
              height: 30px;
              color: #ffffff;
              background-color: #fb7c35;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              cursor: pointer; }
              z
header .header-content .menu ul .search .icon:hover {
                color: #000000; }
          z
header .header-content .menu ul .cart {
            width: 45px;
            height: 45px; }
            z
header .header-content .menu ul .cart svg {
              color: #fff; }
              z
header .header-content .menu ul .cart svg:hover {
                color: #fb7c35; }
          z
header .header-content .menu ul .sign-icon {
            font-size: 20px;
            color: #fff; }
            z
header .header-content .menu ul .sign-icon:hover {
              color: #fb7c35; }

.table-tea {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 50px; }
  .table-tea-content {
    display: flex; }
  .table-tea .nav-bar .list-product {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C4C4C4; }
    .table-tea .nav-bar .list-product .title {
      font-weight: 700; }
    .table-tea .nav-bar .list-product li a {
      text-decoration: none;
      color: #000000;
      font-weight: 400; }
      .table-tea .nav-bar .list-product li a .icon {
        color: #F47B36;
        width: 20px; }
      .table-tea .nav-bar .list-product li a span:hover {
        border-bottom: 1px solid #F47B36; }
    .table-tea .nav-bar .list-product li:nth-child(1) {
      margin-left: 10px; }
    .table-tea .nav-bar .list-product li:nth-child(2) {
      margin-top: 20px; }
  .table-tea .nav-bar .product {
    display: flex;
    flex-direction: column;
    margin-top: 40px; }
    .table-tea .nav-bar .product .title {
      font-weight: 700; }
    .table-tea .nav-bar .product li {
      margin-top: 15px;
      display: flex; }
      .table-tea .nav-bar .product li .product-img {
        display: flex;
        justify-content: center;
        align-items: center; }
        .table-tea .nav-bar .product li .product-img img {
          object-fit: cover;
          width: 50px;
          height: auto; }
      .table-tea .nav-bar .product li .product-text {
        padding-left: 15px; }
        .table-tea .nav-bar .product li .product-text p {
          margin: 0;
          color: #000000;
          font-weight: 400; }
          .table-tea .nav-bar .product li .product-text p:nth-last-child(1) {
            font-weight: 700;
            color: #51514E; }
  .table-tea .content {
    flex: 1;
    padding-top: 5px;
    margin-left: 25px; }
    .table-tea .content .col-table-content {
      margin-top: 100px;
      padding: 30px;
      cursor: pointer;
      border: 1px solid transparent; }
      .table-tea .content .col-table-content:hover {
        border: 1px solid #51514E; }
      .table-tea .content .col-table-content .table-product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .table-tea .content .col-table-content .table-product p:nth-child(1) {
          text-align: center; }
        .table-tea .content .col-table-content .table-product .col-table-main {
          display: flex;
          width: 100%;
          justify-content: space-around; }
          .table-tea .content .col-table-content .table-product .col-table-main .left .label {
            color: #000000;
            font-weight: 400;
            text-align: start;
            margin: 0; }
          .table-tea .content .col-table-content .table-product .col-table-main .left .total {
            color: #51514E;
            font-weight: 700; }
          .table-tea .content .col-table-content .table-product .col-table-main .right {
            display: flex;
            align-items: center; }
        .table-tea .content .col-table-content .table-product img {
          width: 108px;
          height: 108px;
          object-fit: contain; }
    .table-tea .content .see-more {
      margin-top: 30px; }
      .table-tea .content .see-more a {
        display: flex;
        text-decoration: none; }
        .table-tea .content .see-more a span {
          margin: 0 auto;
          padding: 5px 30px;
          border: 1px solid #F47B36;
          color: #F47B36; }
          .table-tea .content .see-more a span:hover {
            background-color: #F47B36;
            color: #fff; }

.content-select {
  display: flex;
  justify-content: space-between;
  cursor: pointer; }

.cart {
  position: relative;
  display: flex;
  align-items: center; }

.cart-content {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F47B36;
  left: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  opacity: 0; }
