@import "common.scss";




section.cart{
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    .cart-content{
        .title{
            padding-left: 90px;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            svg{
                color: #FB7C35;
                margin-right: 15px;
            }
        }
        .col-cart{
            border: 3px solid #FB7C35;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .sub-row{
                &-col{
                    display: flex;
                    align-items: center;
                    padding-right: 0px;
                    font-weight: 600;
                    .check{
                        width: 25px;
                        height: 25px;
                        border: 1px solid #FB7C35;
                        box-sizing: border-box;
                        border-radius: 5px;
                        background-color: #FB7C35;
                        display: flex;
                        justify-content: center;
                        margin-right: 20px;
                    }
                    &:nth-child(1){
                       padding-left: 90px;
                    }
                    
                }
            }
        }
    }
}

.col-product-cart{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    .sub-row{
        &-col{
           
            .cart-product{
                img{
                    width: 165px;
                    height: auto;
                    object-fit: contain;
                }
            }
            .cart-text{
                margin-left: 20px;
                p{
                    margin: 0;
                }
            } 
            .quantily{
                
                display: flex;
                height: 40px;
                width: 150px;
                background: #FFFFFF;
                border: 0.25px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                div{
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 25px;
                    cursor: pointer;
                    &:nth-child(2){
                        flex: 1;
                        border-left: 0.25px solid #000000;
                        border-right: 0.25px solid #000000;
                    }
                    
                }
            }
        }
    }
}

.col-total{
    .sub-row{
        &-col{
            .sub-total{
                p{
                    margin: 0;
                    color: #000000;
                    font-size: 20px;
                    font-weight: 500;
                    &:nth-child(2){
                        color: #FB7C35;
                        font-size: 18px;
                        text-align: end;
                    }
                }
            }
            input{
                margin-left: 30px;
                width: 150px;
                height: 50px;
                background: #FB7C35;
                border-radius: 5px;
                color: #FFFFFF;
                border: none;
                &:hover{
                    opacity: .8;
                    color: #000000;
                }
            }
        }
    }
}

.product{
    max-width: 1190px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    &-content{
        &-row{
            .col-title{
                padding-top: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title{
                    font-weight: 700;
                    &-bottom{         
                        height: 2px;
                        width: 100px;
                        background-color: #FB7C35;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 5px;
                        }
                    }
            }
            .slide{
                padding-top: 70px;
                .col-product{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 15px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    &:hover{
                        border: 1px solid #51514E;
                        opacity: .8;
                    }
                    p{
                        font-size: 15px;
                        img{
                            max-width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                    .label{
                        color: #000000;
                        font-weight: 400;
                    }
                    .total{
                        color: #51514E;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}