@import "common.scss";

ul {
    display: flex;
    li {
        list-style: none;
    }
}
body {
    overflow-x: hidden !important;
}
// img {
//     object-fit: cover;
// }

header {
    width: 100%;
    margin: 0 auto;
    .header {
        width: 100vw;
        margin: 0 auto;
        background-color: #51514e;
        opacity: 0.9;
        &-content {
            max-width: 1190px;
            min-height: 70px;
            display: flex;
            align-items: center;
            min-height: 70px;
            .logo {
                width: 20%;
                display: flex;
                justify-content: flex-start;
                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
            .menu {
                flex: 1;
                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    li {
                        display: flex;
                        justify-content: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        a {
                            font-size: 13px;
                            color: #ffffff;
                            font-weight: 400;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &:nth-child(1) {
                            background-color: #fb7c35;
                            opacity: 0.5;
                            border-radius: 4px;

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 45px;
                            }
                        }
                        @media (max-width: 1025px) {
                            padding-left: 6px;
                            padding-right: 6px;
                        }
                    }
                    .search {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input {
                            height: 30px;
                            border: 1px solid #fb7c35;
                            border-radius: 4px;
                            background-color: #51514e;
                            padding-left: 5px;
                            &::placeholder {
                                color: #ffffff;
                                font-size: 13px;
                                padding-bottom: 4px;
                            }
                            &:focus {
                                outline-width: 0;
                            }
                        }
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: 3%;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            color: #ffffff;
                            background-color: #fb7c35;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                    .cart {
                        width: 45px;
                        height: 45px;
                        svg {
                            color: #fb7c35;
                        }
                    }
                }
            }
        }
    }
}

.footer-menu {
    width: 100%;
    min-height: 261px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    .footer-content {
        margin: 0 auto;
        padding-top: 40px;
        &-row {
            .top-footer {
                .left {
                    &-content {
                        .menu-footer {
                            display: flex;
                            flex-direction: column;
                            li {
                                margin-top: 10px;
                                a {
                                    font-weight: 600;
                                    color: #ffffff;
                                }
                                .home {
                                    color: #fb7c35;
                                }
                            }
                        }
                    }
                }
                .right {
                    &-content {
                        p {
                            margin-bottom: 0px;
                            margin-top: 3px;
                            color: #ffffff;
                            font-weight: 400;
                        }
                        .title {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.footer-bottom {
    width: 100%;
    min-height: 80px;
    background-color: #333333;
    border-top: 2px solid #ffffff;
    &-content {
        min-height: 80px;
        .col-footer {
            min-height: 80px;
            font-size: 13px;
            color: #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .col-follow {
                display: flex;
                min-height: 80px;
                padding: 0px;
                li {
                    margin-left: 20px;
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p {
                        margin: 0 auto;
                        img {
                            width: 30px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                    &:nth-child(2) {
                        color: #0033d9;
                        font-size: 16px;
                    }
                    &:nth-child(3) {
                        color: #ff0000;
                        font-size: 16px;
                    }
                    &:nth-child(4) {
                        color: #0066ff;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

//main section//

.construction {
    max-width: 1190px;
    margin: 0 auto;
    .construct-container {
        padding: 0;
        margin: 0 auto;
        .wrap-row-construct {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            .top-title {
                margin: 50px 0;
                h2 {
                    text-align: center;
                    font-size: 21px;
                    font-family: Roboto-700;
                    margin: 0;
                }
                .title-bottom {
                    height: 2px;
                    width: 100px;
                    background-color: #fb7c35;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
            .hero-image {
                margin-bottom: 30px;
                height: 100%;
                max-height: 490px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .row-content{
                display: flex;
                margin: 50px 0;
                .col-content{
                    p{
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-family: Roboto-300;
                    }
                }
            }
            .row-image{
                .col-img{
                    img{
                        object-fit: unset;
                        width: 100%;
                        max-height: 416px;
                        @media (max-width: 1201px){
                            max-height: 348px;
                        }
                        @media (max-width: 992px){
                            max-height: 258px;
                        }
                    }
                }
            }
        }
    }
}
