@import "common.scss";

header {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/about/dark-big-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 691px;
    position: relative;
    .absolute-form {
        position: absolute;
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        .row-main-form {
            display: flex;
            flex-direction: row;
            .content-left {
                max-width: 50%;
                padding: 0 9%;
                @media (max-width: 991px) {
                    padding: 0 2%;
                }
                .inner-col {
                    .top-title {
                        h2 {
                            font-size: 24px;
                            color: #fff;
                            font-family: Roboto-400;
                        }
                    }
                    .content-title {
                        p {
                            font-family: Roboto-300;
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
            .form-right {
                padding-left: 200px;
                padding-right: 100px;
                @media (max-width: 1201px) {
                    padding: 0 10%;
                }
                @media (max-width: 991px) {
                    padding: 0 5%;
                }
                .inner-col {
                    .form-contact {
                        form {
                            .top-title {
                                h3 {
                                    font-size: 17px;
                                    color: #fff;
                                    font-family: Roboto-700;
                                    line-height: 1.4;
                                    margin-bottom: 0.5em;
                                }
                            }
                            span {
                                display: flex;
                                justify-content: center;
                                input {
                                    margin-bottom: 15px;
                                    outline: none;
                                    width: 100%;
                                    max-width: 300px;
                                    min-width: 270px;
                                    border: 1px solid #fb7c35;
                                    min-height: 35px;
                                    padding: 0 10px;
                                    border-radius: 3px;
                                    font-size: 14px;
                                    font-family: Roboto-300;
                                }
                                textarea {
                                    outline: none;
                                    width: 100%;
                                    max-width: 300px;
                                    min-width: 270px;
                                    max-height: 150px;
                                    border: 1px solid #fb7c35;
                                    padding: 0 10px;
                                    font-size: 14px;
                                    font-family: Roboto-300;
                                    padding-top: 5px;
                                    border-radius: 3px;
                                }
                            }
                            a.sign {
                                text-decoration: none;
                                display: flex;
                                width: fit-content;
                                background-color: #fb7c35;
                                padding: 10px 25px;
                                border-radius: 3px;
                                margin-left: auto;
                                margin-right: auto;
                                &:hover {
                                    border: 1px solid #fb7c35;
                                    background-color: #fff;
                                    transition-property: all;
                                    transition-duration: 0.5s;
                                    h2 {
                                        color: #fb7c35;
                                    }
                                }
                                h2 {
                                    font-size: 16px;
                                    font-family: Roboto-700;
                                    color: #fff;
                                    text-align: center;
                                    margin: 0;
                                }
                            }
                            .text-content {
                                margin-top: 20px;
                                p {
                                    color: #fff;
                                    font-size: 14px;
                                    font-family: Roboto-700;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header {
        margin: 0 auto;
        background-color: #51514e;
        opacity: 0.9;
        &-content {
            max-width: 1190px;
            min-height: 70px;
            display: flex;
            align-items: center;
            min-height: 70px;
            .logo {
                width: 20%;
                display: flex;
                justify-content: flex-start;
                img {
                    max-width: 60%;
                    height: auto;
                    object-fit: contain;
                }
            }
            .menu {
                flex: 1;
                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    justify-content: flex-end;
                    li {
                        display: flex;
                        justify-content: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        a {
                            font-size: 13px;
                            color: #ffffff;
                            font-weight: 500;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                        &:nth-child(1) {
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 45px;
                            }
                        }
                        @media (max-width: 1025px) {
                            padding-left: 6px;
                            padding-right: 6px;
                        }
                    }
                    .search {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input {
                            height: 30px;
                            border: 1px solid #fb7c35;
                            border-radius: 4px;
                            background-color: #51514e;
                            padding-left: 5px;
                            &::placeholder {
                                color: #ffffff;
                                font-size: 13px;
                                padding-bottom: 4px;
                            }
                            &:focus {
                                outline-width: 0;
                            }
                        }
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: 3%;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            color: #ffffff;
                            background-color: #fb7c35;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            cursor: pointer;
                            &:hover {
                                color: #000000;
                            }
                        }
                    }
                    .cart {
                        width: 45px;
                        height: 45px;
                        svg {
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                    .sign {
                        &-icon {
                            font-size: 20px;
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.main-section {
    max-width: 1190px;
    margin: 0 auto;
    padding: 50px 0 100px 0;
    .container-procedure {
        padding: 0;
        .main-row-procedure {
            .top-title {
                width: 100%;
                margin-bottom: 50px;
                h2 {
                    text-align: center;
                    font-size: 21px;
                    font-family: Roboto-700;
                    margin: 0;
                }
                .title-bottom {
                    height: 2px;
                    width: 100px;
                    background-color: #fb7c35;
                    margin: 5px auto 0 auto;
                }
            }
            .row-content {
                display: flex;
                .col-procedure {
                    padding: 0 30px;
                    @media (max-width: 1601px) {
                        max-width: 33.3333%;
                    }
                    @media (max-width: 993px) {
                        max-width: 100%;
                    }
                }

                .col-inner {
                    .top-img {
                        img {
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            @media (max-width: 1601px) {
                                height: 230px;
                            }
                            @media (max-width: 1201px) {
                                height: 180px;
                            }
                            @media (max-width: 993px) {
                                height: 600px;
                            }
                        }
                    }
                    .content-col {
                        margin-top: 30px;
                        a {
                            text-decoration: none;
                            h2 {
                                font-size: 16px;
                                font-family: Roboto-700;
                                color: #fb7c35;
                                text-align: center;
                                margin-bottom: 20px;
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                        p {
                            font-size: 14px;
                            font-family: Roboto-400;
                            padding: 0 40px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .middle-title {
            width: 100%;
            text-align: center;
            margin-top: 100px;
            p {
                margin-bottom: 5px;
                font-size: 14px;
                font-family: Roboto-700;
            }
        }
        .row-contact-info {
            display: flex;
            width: 100%;
            margin-top: 100px;
            .left-col {
                .inner-col {
                    img {
                        object-fit: cover;
                        width: 100%;
                        max-height: 400px;
                        @media (max-width: 993px) {
                            max-height: 300px;
                        }
                    }
                }
            }
            .right-col {
                display: flex;
                align-items: center;
                padding-left: 50px;
            }
            @media (max-width: 993px) {
                padding: 0 0 0 20px;
            }
            .text-info {
                p {
                    margin: 0;
                    color: #000000;
                    font-family: Roboto-400;
                    font-size: 17px;
                }
                .hotline {
                    cursor: pointer;
                    margin-top: 35px;
                    background-color: #fb7c35;
                    max-width: fit-content;
                    padding: 10px 30px;
                    border-radius: 3px;
                    &:hover {
                        opacity: 0.8;
                    }
                    h3 {
                        font-size: 14px;
                        font-family: Roboto-400;
                        color: #fff;
                        margin: 0;
                    }
                }
            }
        }
    }
}
