@import"common.scss";
@import"style.scss";

.main-detail-design{
    max-width: 1190px;
    margin: 0 auto;
    padding: 50px 0 100px 0;
    .detail-design{
        margin: 0;
        max-width: 100%;
        padding: 0;
        .main-row{
            margin: 0;
            .top-title{
                margin: 0 auto;
                h2{
                    font-size: 21px;
                    font-weight: 700px;
                    font-family: Roboto-700;
                    margin: 0;
                }
                .title-bottom{
                    height: 2px;
                    width: 100px;
                    background-color: #fb7c35;
                    margin: 5px auto 0 auto;
                }
            }
            .hero-img-col{
                margin-top: 50px;
                padding: 0 !important;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
            .text-col{
                max-width: 50%;
                margin-top: 50px;
                padding: 0 40px;
                .text-content{
                    p{
                        font-size: 14px;
                        font-family: Roboto-400;
                    }
                }
            }
            .col-img{
                margin-top: 50px;
                img{
                    width: 100%;
                    height: auto;
                }
            }    
        }
    }
}