@import "common.scss";
@import "style.scss";
ul{
    display: flex;
    li{
        list-style: none;
    }
}
body{
    overflow-x: hidden !important;
}
img{
    object-fit: cover;
}
@font-face{
    font-family: TiTiWeb-400;
    src: url(../font/TitilliumWeb-Regular.ttf);
}
.slider-header{
    max-width: 100%;
    margin: auto;
    header{
        position: absolute;
        top: 0;
        margin: auto;
        z-index: 999;
        width: 100%;
    }
    &-multi{
        .image-header{
            position: relative;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            input{
                position: absolute;
                top: 70%;
                left: 45%;
                border: none;
                width: 200px;
                height: 50px;
                color: #FFFFFF;
                background-color: #FB7C35;
                &:focus{
                    outline-width: 0;;
                }
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}

.main{
    max-width: 1190px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    &-content{
        .col-main{
            position: relative;
            margin-top: 21px;
            min-height: 383px;
            .title{
                font-weight: 700;
                font-size: 25px;
                &-bottom{         
                    height: 3px;
                    width: 100px;
                    background-color: #FB7C35;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
            .txt{
                p{
                    margin: 0;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            .btn{
                input{
                width: 200px;
                height: 50px;
                border: none;
                background-color: #FB7C35;
                color: #FFFFFF;
                border-radius: 5px;
                &:hover{
                    opacity: .8;
                }
                &:focus{
                    outline-width: 0;
                }
            }
                }
        }
        .col-txt{      
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: rgba(196, 196, 196, 0.6);
        }
        .col-img{
            overflow: hidden;
            padding: 0;
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

.col-room{
    padding: 0;
    height: fit-content;
    position: relative;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        transition-duration: 1.5s;
        transition-timing-function: linear;
    }
    .col-main-content{
        z-index: 9999;
        position: absolute;
        top:15%;
        left: 30%;
        width: 250px;
        height: 250px;
        background: rgba(81,81,78,0.7);
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            color: #FFFFFF;
            font-size: 25px;
            font-weight: 700;
            margin: 0;
            text-align: center;
            &:nth-child(2){
                color: #FB7C35;
                font-weight: 600;
                font-size: 15px;
                margin-top: -20px;
            }
        }
        a{
            input{
                width: 100px;
                height: 30px;
                background: #51514E;
                opacity: 0.7;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 14px;
                color: #FFFFFF;
            }
        }
        
    }
}
.col-small-room{
    margin-left: 20px;
    padding-right: 0px;
    position: relative;
    height: auto;
    overflow: hidden !important;
    flex: 1;
    img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        width: auto;
        min-height: 100%;
        transition-duration: 1.5s;
        transition-timing-function: linear;
    }
    .col-main-content{
        z-index: 9999;
        position: absolute;
        top:15%;
        left: 30%;
        width: 250px;
        height: 250px;
        background: #51514E;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            color: #FFFFFF;
            font-size: 25px;
            font-weight: 700;
            margin: 0;
            text-align: center;
            &:nth-child(2){
                color: #FB7C35;
                font-weight: 600;
                font-size: 15px;
                margin-top: -20px;
            }
        }
        a{
            input{
                width: 100px;
                height: 30px;
                background: #51514E;
                opacity: 0.7;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 14px;
                color: #FFFFFF;
            }
        }
        
    }
}
.col-medium-room{
    position: relative;
    height: auto;
    padding: 0;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        transition-duration: 1.5s;
        transition-timing-function: linear;
    }
    .col-main-content{
        z-index: 9999;
        position: absolute;
        top:15%;
        left: 30%;
        width: 250px;
        height: 250px;
        background: #51514E;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            color: #FFFFFF;
            font-size: 25px;
            font-weight: 700;
            margin: 0;
            text-align: center;
            &:nth-child(2){
                color: #FB7C35;
                font-weight: 600;
                font-size: 15px;
                margin-top: -20px;
            }
        }
        a{
            input{
                width: 100px;
                height: 30px;
                background: #51514E;
                opacity: 0.7;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 14px;
                color: #FFFFFF;
            }
        }
        
    }
}
.col-second{
    flex: 1;
    margin-left: 20px;
}




.commit{
    max-width: 1190px;
    margin:  0 auto;
    height: auto;
    &-content{
        padding-top: 100px;
        .col-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                font-weight: 700;
                font-size: 25px;
                &-bottom{         
                    height: 3px;
                    width: 100px;
                    background-color: #FB7C35;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
        }
        .col-commit{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{           
                font-size: 15px;
                font-weight: 400;
                text-align: center;
                img{
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .label{
                font-weight: 700;
            }
        }
    }
}


.product{
    max-width: 1190px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    .title{
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        &-bottom{         
            height: 3px;
            width: 100px;
            background-color: #FB7C35;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            }
        }
    .slider-product{
        margin-top: 50px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-col{
            width: 30%;
            .col-product{                 
                padding: 18px;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;                  
                cursor: pointer;
                p{
                    font-size: 15px;
                    img{
                        width: 100%;
                        height: 100px;
                        object-fit: contain;
                    }
                    &:nth-child(1){
                        text-align: center;
                    }
                }
                &-content{
                    margin-top: 15px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .left{
                        .label{
                            color: #000000;
                            font-weight: 400;
                            text-align: start;
                            margin: 0;
                        }
                        .total{
                            color: #51514E;
                            font-weight: 700;
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                    }
                }
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    &-left{
        position: absolute;
        color: #000000;
        font-size: 25px;
        left: 0%;
        top: 50%;
        cursor: pointer;
    }
    &-right{
        position: absolute;
        color: #000000;
        font-size: 25px;
        right: 0%;
        top: 50%;
        cursor: pointer;
    }
}


.introduce{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 1190px;
    min-height: 569px;
    background-image: url(../img/home/slide-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    &-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 569px;
        img{
            width: 200px;
            height: auto;
            object-fit: contain;
        }
    }
}

.showroom{
    max-width: 1190px;
    min-height: 569px;
    margin: 0 auto;
    &-content{
        padding-top: 30px;
        .col-title{
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                font-weight: 700;
                font-size: 25px;
                &-bottom{         
                    height: 3px;
                    width: 100px;
                    background-color: #FB7C35;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
            .text{
                padding-top: 20px;
                p{
                    margin: 0;
                    font-weight: 400;
                    font-size: 13px;
                }
            }
        }
        .col-showroom{
            padding-left: 0px;
            padding-right: 0px;
            .image{
                img{
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}

.slider-multi{
    max-width: 1190px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   .slider{
       img{
           max-width: 100%;
           height: auto;
           object-fit: contain;
       }
   }
   .left-slider{
       position: absolute;
       color: #FFFFFF;
       font-size: 30px;
       left: 3%;
       top: 40%;
       opacity: .7;
       cursor: pointer;
   }
   .right-slider{
       position: absolute;
       color: #FFFFFF;
       font-size: 30px;
       right: 3%;
       top: 40%;
       opacity: .7;
       cursor: pointer;
   }
}

.hover{
    transform: scale(1.2);
}


.overlay,
.overlay-small,
.overlay-medium,
.overlay-second
{
    top: 0%;
    position: absolute;
    height: 100px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-duration: 2s;
}
.hover-opacity{
    opacity: 1;
}