@import "common.scss";

header {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/home/slide-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 691px;
    position: relative;
    
    .header {
        margin: 0 auto;
        background-color: #51514e;
        opacity: 0.9;
        &-content {
            max-width: 1190px;
            min-height: 70px;
            display: flex;
            align-items: center;
            min-height: 70px;
            .logo {
                width: 20%;
                display: flex;
                justify-content: flex-start;
                img {
                    max-width: 60%;
                    height: auto;
                    object-fit: contain;
                }
            }
            .menu {
                flex: 1;
                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    justify-content: flex-end;
                    li {
                        display: flex;
                        justify-content: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        a {
                            font-size: 13px;
                            color: #ffffff;
                            font-weight: 500;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                        &:nth-child(1) {
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 45px;
                            }
                        }
                        @media (max-width: 1025px) {
                            padding-left: 6px;
                            padding-right: 6px;
                        }
                    }
                    .search {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input {
                            height: 30px;
                            border: 1px solid #fb7c35;
                            border-radius: 4px;
                            background-color: #51514e;
                            padding-left: 5px;
                            &::placeholder {
                                color: #ffffff;
                                font-size: 13px;
                                padding-bottom: 4px;
                            }
                            &:focus {
                                outline-width: 0;
                            }
                        }
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: 3%;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            color: #ffffff;
                            background-color: #fb7c35;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            cursor: pointer;
                            &:hover {
                                color: #000000;
                            }
                        }
                    }
                    .cart {
                        width: 45px;
                        height: 45px;
                        svg {
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                    .sign {
                        &-icon {
                            font-size: 20px;
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                }
            }
        }
    }
}
.main {
    margin-top: 150px;
    max-width: 1190px;
    margin: 0 auto;
    height: auto;
    &-content {
        .row-sect-top {
            padding: 50px 0 0 0;
            .top-title {
                width: 100%;
                text-align: center;
                padding-bottom: 50px;
                h2 {
                    font-size: 21px;
                    font-weight: 700;
                    margin: 0;
                }
                .title-bottom {
                    height: 2px;
                    width: 100px;
                    background-color: #fb7c35;
                    margin: 5px auto 0 auto;
                }
                .content-title {
                    margin-top: 30px;
                    p {
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
            .row-inner-col {
                display: flex;
                @media (max-width: 1600px){
                    flex-direction: row;
                }
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                .col-main-sect-top {
                    padding: 0 5px;
                    @media (max-width: 1600px){
                        width: 33.3333%;
                    }
                    @media (max-width: 768px) {
                        margin: 0 auto 20px auto;
                        width: 100%;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
        .row-mission {
            margin-top: 50px;
            padding: 0;
            .row-inner-col {
                display: flex;
                justify-content: space-between;
                .col-left-mission {
                    width: 66.6667%;
                    padding: 0;
                    @media (max-width: 993px) {
                        width: 100%;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        min-height: 416px;
                    }
                }
                .col-right-mission {
                    display: flex;
                    align-items: center;
                    padding: 0 0 0 50px;
                    @media(max-width: 992px){
                        padding: 30px 0 0 0;
                    }
                    .content-col {
                        h2 {
                            margin: 0;
                            color: #000000;
                            font-weight: 600;
                            font-size: 20px;
                            display: flex;
                            justify-content: center;
                            @media (max-width: 993px) {
                                text-align: center;
                            }
                            span {
                                font-weight: bolder;
                                font-size: 21px;
                            }
                        }
                        .title-bottom {
                            height: 2px;
                            width: 70px;
                            background-color: #fb7c35;
                            margin-right: auto;
                            margin-left: auto;
                            margin-top: 5px;
                            @media (max-width: 993px) {
                                margin: 5px auto 0 auto;
                            }
                        }
                        .content-title {
                            margin-top: 30px;

                            p {
                                margin: 0;
                                font-size: 14px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
        .row-vision {
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-height: 250px;
            background-color: #51514E;
            margin-top: 70px;
            .left-col {
                max-width: 33.3333%;
                padding: 0 4em 0 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @media (max-width: 769px) {
                    padding: 0 1em 0 0;
                }
                .inner-col {
                    justify-content: center;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    h2 {
                        margin: 0;
                        span {
                            font-weight: bolder;
                            font-size: 21px !important;
                            color: #fff;
                        }
                    }
                    .title-bottom {
                        height: 2px;
                        width: 70px;
                        background-color: #fb7c35;
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 5px;
                    }
                }
            }
            .right-col {
                max-width: 66.6667%;
                display: flex;
                align-items: center;
                padding: 0 150px 0 0;
                @media (max-width: 769px) {
                    padding: 0 70px 0 0;
                }
                .inner-col {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin-bottom: 10px;
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
        .row-luxury-interior {
            margin-top: 50px;
            .row-inner-col {
                display: flex;
                .left-col {
                    display: flex;
                    align-items: center;
                    padding: 50px 30px 50px 0;
                    @media (max-width: 993px) {
                        padding: 0 0 30px 0 !important;
                    }
                    .content-col {
                        h2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            font-weight: bolder;
                            font-size: 21px;
                        }
                        .title-bottom {
                            height: 2px;
                            width: 100px;
                            background-color: #fb7c35;
                            margin: 0 auto;
                            margin-top: 5px;
                        }
                        .content-title {
                            margin-top: 20px;
                            p {
                                margin-bottom: 20px;
                                font-size: 14px;
                            }
                            p.no-mg {
                                margin: 0;
                            }
                        }
                    }
                }
                .right-col {
                    width: 66.6667%;
                    padding: 0;
                    @media (max-width: 993px) {
                        width: 100% !important;
                    }
                    .col-inner {
                        height: 100%;
                        max-height: 600px !important;
                        img {
                            width: 100%;
                            height: 100% !important;
                            min-height: 416px;
                        }
                    }
                }
            }
            .top-title {
                margin-top: 50px;
                width: 100%;
                padding-bottom: 50px;
                h2 {
                    font-weight: bolder;
                    font-size: 21px;
                    text-align: center;
                    margin: 0;
                }
                .content-title {
                    margin-top: 30px;

                    p {
                        margin: 0;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                .title-bottom {
                    height: 2px;
                    width: 100px;
                    background-color: #fb7c35;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
        }
    }
}
.row {
    width: 100%;
    margin: 0;
}
h2{
    font-size: 21px;
    font-family: Roboto-700 !important;
}
p{
    font-size: 14px;
    font-family: Roboto-400 !important;
}