@import "common.scss";
@import "style.scss";


//main section//

.meetAndAdvise {
    max-width: 1190px;
    margin: 0 auto;
    .container {
        padding: 0;
        margin: 0 auto;
        .wrap-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            .top-title {
                margin: 50px 0;
                h2 {
                    text-align: center;
                    font-size: 21px;
                    font-family: Roboto-700;
                    margin: 0;
                }
                .title-bottom {
                    height: 2px;
                    width: 100px;
                    background-color: #fb7c35;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                }
            }
            .hero-image {
                margin-bottom: 30px;
                height: 100%;
                max-height: 600px;
                width: 100%;
                img {
                    width: 100%;
                    max-height: 600px;
                    object-fit: unset;
                }
            }
            .row-content{
                display: flex;
                margin: 50px 0;
                .col-content{
                    p{
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-family: Roboto-300;
                    }
                }
            }
            .row-image{
                .col-img{
                    img{
                        object-fit: unset;
                        width: 100%;
                        max-height: 416px;
                        @media (max-width: 1201px){
                            max-height: 348px;
                        }
                        @media (max-width: 992px){
                            max-height: 258px;
                        }
                    }
                }
            }
        }
    }
}
