@import "common.scss";
@import "style.scss";


@font-face{
    font-family: TiTiWeb-400;
    src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face{
    font-family: TiTiWeb-700;
    src: url(../font/TitilliumWeb-Bold.ttf);
}
.detail-product{
    margin-top: 30px;
    max-width: 1190px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    &-content{
        padding-bottom: 30px;
        .col-product{
            padding-left: 50px;
            &-slide{
                img{
                    width: 350px;
                    height: 167px;
                    object-fit: contain;
                }
            }
            &-bottom{
                display: flex;
                justify-content: flex-start;
                img{
                margin-right: 40px;
                width: 120px;
                height: auto;
                object-fit: contain;
                }
            }
            &-infor{
                display: flex;
                flex-direction: column;
                li{
                    margin-top: 20px;
                    font-size: 15px;
                    font-weight: 400;   
                    display: flex;
                    span{
                        font-weight: 700;
                    }     
                    .quantily{
                        margin-left: 20px;
                        display: flex;
                        height: 40px;
                        width: 150px;
                        background: #FFFFFF;
                        border: 0.25px solid #000000;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                        div{
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 25px;
                            cursor: pointer;
                            &:nth-child(2){
                                flex: 1;
                                border-left: 0.25px solid #000000;
                                border-right: 0.25px solid #000000;
                            }
                            
                        }
                    }
                    .buy{
                        input{
                            background: #FB7C35;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 5px;
                            height: 50px;
                            width: 200px;
                            color: #FFFFFF;
                            border: none;
                            &:hover{
                                opacity: .8;
                                color: #000000;
                            }
                        }
                    }
                    .add{
                        padding-left: 50px;
                        input{
                            color: #FB7C35;
                            border: 1px solid #FB7C35;
                            background-color: transparent;
                            height: 50px;
                            width: 200px;
                            border-radius: 5px;
                            &:hover{
                                color: #FFFFFF;
                                background-color: #FB7C35;
                            }
                        }
                    }
                   
                }
                .money{
                    font-weight: bold;
                    color: #FB7C35;
                    font-size: 20px;
                }
                .title{
                    font-size: 40px;
                    font-weight: bold;
                }
                .color{
                    width: 36px;
                    height: 36px;
                    background-color: #3C3939;
                }
            }
            &:nth-child(1){
                padding-top: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 0px;
            }
            &:nth-child(3){
                padding-left: 30px;
            }
        }
    }
}
.col-bottom{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #51514E;
}
.detail-product .col-text{
    margin-top: 20px;
    .title{
        font-weight: 700;
        padding-left: 60px;
    }
    pre{
        font-family: Roboto-300;
        font-weight: 600;
        line-height: 25px;
    }
}
.product{
    max-width: 1190px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    .title{
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        &-bottom{         
            height: 3px;
            width: 100px;
            background-color: #FB7C35;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            }
        }
    .slider-product{
        margin-top: 50px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-col{
            width: 30%;
            .col-product{                 
                padding: 18px;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;                  
                cursor: pointer;
                p{
                    font-size: 15px;
                    img{
                        width: 100%;
                        height: 100px;
                        object-fit: contain;
                    }
                    &:nth-child(1){
                        text-align: center;
                    }
                }
                &-content{
                    margin-top: 15px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .left{
                        .label{
                            color: #000000;
                            font-weight: 400;
                            text-align: start;
                            margin: 0;
                        }
                        .total{
                            color: #51514E;
                            font-weight: 700;
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                    }
                }
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    &-left{
        position: absolute;
        color: #000000;
        font-size: 25px;
        left: 0%;
        top: 50%;
        cursor: pointer;
    }
    &-right{
        position: absolute;
        color: #000000;
        font-size: 25px;
        right: 0%;
        top: 50%;
        cursor: pointer;
    }
}