@import "common.scss";

.shipment{
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    &-content{
        .col-ship{
            margin-top: 50px;
            .title{
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            &-content{
                border: 1px solid #51514E;
                padding-left: 20px;
                padding-bottom: 50px;
                input{
                    width: 80%;
                    height: 50px;
                    padding-left: 8px;
                    border: 1px solid #FB7C35;
                    border-radius: 4px;
                    margin-top: 20px;
                    &:focus{
                        outline-width: 0;
                    }
                }
            }
            &-infor{
                min-height: 472px;
                color: #000000;
                font-weight: 600;
                border: 1px solid #51514E;
               
                padding-left: 20px;
                padding-right: 20px;
                flex-direction: column;
                padding-top: 20px;
                &-title{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #51514E;
                    p{
                        &:nth-child(2){
                            margin-left: 45px;
                        }
                    }
                }
                &-content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 232px;
                    padding-top: 20px;
                    p{
                        img{
                            width: 100px;
                            height: auto;
                            object-fit: contain;
                        }
                        span{
                            margin-left: 10px;
                        }
                    }
                }
                &-total{
                    border-top: 1px solid #51514E;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    p{
                        font-size: 25px;
                        &:nth-child(2){
                            color: #FB7C35;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
.col-ship-pay{
    border: 1px solid #51514E;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    p{
        display: flex;
        margin-bottom: 30px;
        input{
            width: 30px;
            height: 26px;
            cursor: pointer;
        }
        img{
            margin-left: 20px;
            width: 30px;
            height: auto;
            object-fit: contain;
        }
        span{
            margin-left: 15px;
            font-size: 20px;
            color: #000000;
        }
    }
}

.shipment-overlay{
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .notification{
        position: absolute;
        left: 35%;
        top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFFFFF;
        width: 500px;
        height: 200px;
        .check{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
            input{
                width: 200px;
                height: 50px;
                background-color: #FB7C35;
                color: #FFFFFF;
            }
        }
    }
}

.btn{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .div-btn{
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        input{
            margin-bottom: 15px;
            width: 150px;
            height: 50px;
            border-radius: 5px;
            background-color: #FB7C35;
            border: none;
            color: #FFFFFF;
            &:focus{
                outline-width: 0;
            }
            &:hover{
                opacity: .8;
            }
        }
    }
    p{
        text-align: start;
        font-size: 15px;
        color: #000000;
    }
}
.show-overlay{
    display: block;
}