@import "common.scss";

main {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    .sign-success {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .top-title {
            h2 {
                font-size: 24px;
                text-align: center;
                font-family: Roboto-700;
            }
            .title-bottom {
                height: 2px;
                width: 100px;
                background-color: #fb7c35;
                margin: 5px auto 0 auto;
            }
        }
        .content-title {
            margin-top: 30px;
            p {
                margin: 0;
                text-align: center;
                font-size: 14px;
                font-family: Roboto-400;
            }
        }
        .back-to-home {
            margin: 100px auto 0 auto;
            a{
                padding: 0.7rem 1.5rem;
                background-color: #FB7C35;
                color: #fff;
                text-decoration: none;
                font-size: 13px;
                border-radius: 3px;
                font-weight: 600;
            }
        }
    }
}
