@import "common.scss";

.section-sign{
    background-image: url(../img/about/sign.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    max-width: 1190px;
    min-height: 560px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-content{    
        width: 50%;
        height: 60%;
        background-color: rgba(81,81,78,0.8);    
        padding-top: 60px;
        padding-bottom: 30px;
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 50px;
                margin-bottom: 15px;
            }
            .email,
            .pass{
                input{
                    height: 40px;
                    border: 1px solid #FB7C35;
                    width: 80%;
                    padding-left: 15px;
                    &:focus{
                        outline-width: 0;
                    }
                }
            }
            .forget{
                span{
                    color: #FFFFFF;
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
            .title{
                font-size: 25px;
                color: #FFFFFF;
                font-weight: 700;
            }
            .icon{
                margin-top: 20px;
                width: 70%;
                padding-left: 0px;
                justify-content: space-evenly;
                &-sign{
                    img{
                        cursor: pointer;
                        width: 50px;
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
            .btn{
                font-size: 13px;
                color: #FFFFFF;
                input{
                    width: 120px;
                    height: 30px;
                    border: none;
                    background-color: #FB7C35;
                    border-radius: 4px;
                    color: #FFFFFF;
                    &:focus{
                        outline-width: 0;
                    }
                    &:hover{
                        color: #000;
                        opacity: .8;
                    }
                }
                span{
                    margin-left: 10px;
                }
                a{
                    margin-left: 5px;
                    color: #FFFFFF;
                }
            }
            .know{
                color: #FFFFFF;
                font-size: 13px;
                a{
                    margin-left: 5px;
                    color: #FB7C35;
                }
            }
        }
    }
}

.bottom-sign-sub{
    margin-top: 150px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #000000;
}

.sub{
    margin-top: 100px;
    width: 100%;
    display: flex;
    .col-sub{
        padding-top: 30px;
        padding-bottom: 40px;
        height: 100%;
        width: 40%;
        border-top: 1px solid #51514E;
        border-right:  1px solid #51514E;
        p{
            font-weight: 700;
            text-align: center;
            margin: 0;
            img{
                margin-bottom: 10px;
                width: auto;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}

.footer-menu{
    margin-top: 0px !important;
}