@import "common.scss";

ul {
    display: flex;
    li {
        list-style: none;
    }
}
body {
    overflow-x: hidden !important;
}
img {
    object-fit: cover;
}

header {
    width: 100%;
    margin: 0 auto;
    .header {
        margin: 0 auto;
        background-color: #51514e;
        opacity: 0.9;
        position: fixed;
        z-index: 9;
        width: 100%;
        &-content {
            max-width: 1190px;
            min-height: 70px;
            display: flex;
            align-items: center;
            min-height: 70px;
            .logo {
                width: 20%;
                display: flex;
                justify-content: flex-start;
                img {
                    max-width: 60%;
                    height: auto;
                    object-fit: contain;
                }
            }
            .menu {
                flex: 1;
                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    justify-content: flex-end;
                    li {
                        display: flex;
                        justify-content: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        a {
                            font-size: 13px;
                            color: #ffffff;
                            font-weight: 500;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                        &:nth-child(1) {
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 45px;
                            }
                        }
                        @media (max-width: 1025px) {
                            padding-left: 6px;
                            padding-right: 6px;
                        }
                    }
                    .search {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input {
                            height: 30px;
                            border: 1px solid #fb7c35;
                            border-radius: 4px;
                            background-color: #51514e;
                            padding-left: 5px;
                            &::placeholder {
                                color: #ffffff;
                                font-size: 13px;
                                padding-bottom: 4px;
                            }
                            &:focus {
                                outline-width: 0;
                            }
                        }
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: 3%;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            color: #ffffff;
                            background-color: #fb7c35;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            cursor: pointer;
                            &:hover {
                                color: #000000;
                            }
                        }
                    }
                    .cart {
                        width: 45px;
                        height: 45px;
                        svg {
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                    .sign {
                        &-icon {
                            font-size: 20px;
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-menu {
    width: 100%;
    min-height: 261px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    .footer-content {
        margin: 0 auto;
        padding-top: 40px;
        &-row {
            .top-footer {
                .left {
                    &-content {
                        .menu-footer {
                            display: flex;
                            flex-direction: column;
                            li {
                                margin-top: 10px;
                                a {
                                    font-weight: 600;
                                    color: #ffffff;
                                    text-decoration: none;
                                    &:hover {
                                        color: #fb7c35;
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    &-content {
                        p {
                            margin-bottom: 0px;
                            margin-top: 3px;
                            color: #ffffff;
                            font-weight: 400;
                        }
                        .title {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.footer-bottom {
    width: 100%;
    min-height: 80px;
    background-color: #333333;
    border-top: 2px solid #ffffff;
    &-content {
        min-height: 80px;
        .col-footer {
            min-height: 80px;
            font-size: 13px;
            color: #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .col-follow {
                display: flex;
                min-height: 80px;
                padding: 0px;
                li {
                    margin-left: 20px;
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    p {
                        margin: 0 auto;
                        cursor: pointer;
                        img {
                            width: 30px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                    &:nth-child(2) {
                        color: #0033d9;
                        font-size: 16px;
                    }
                    &:nth-child(3) {
                        color: #ff0000;
                        font-size: 16px;
                    }
                    &:nth-child(4) {
                        color: #0066ff;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
