@import "common.scss";

.footer-menu{
    width: 100%;
    min-height: 261px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;  
    .footer-content{
        margin: 0 auto;
        padding-top: 40px;
        &-row{
           .top-footer{
               .left{
                   &-content{
                       .menu-footer{
                           display: flex;
                           flex-direction: column;
                           li{
                               margin-top: 10px;
                               a{
                                   font-weight: 600;
                                   color: #FFFFFF;
                                   text-decoration: none;
                                   &:hover{
                                       color: #FB7C35;
                                   }
                               }
                               .home{
                                   color: #FB7C35;
                               }
                           }
                       }
                   }
               }
               .right{
                   &-content{
                       p{
                           margin-bottom: 0px;
                           margin-top: 3px;
                           color: #FFFFFF;
                           font-weight: 400;
                       }
                       .title{
                           font-weight: 600;
                       }
                   }
               }
           }
        }
    }
}

.footer-bottom{
    width: 100%;
    min-height: 80px;
    background-color: #333333;
    border-top: 2px solid #FFFFFF;
    &-content{
       min-height: 80px;
        .col-footer{
            min-height: 80px;
            font-size: 13px;
            color: #E0E0E0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .col-follow{
                display: flex;
                min-height: 80px;
                padding: 0px;
                li{
                    margin-left: 20px;
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    p{
                        margin: 0 auto;
                        cursor: pointer;
                        img{
                           width: 30px;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                    &:nth-child(2){
                        color: #0033D9;
                        font-size: 16px;
                    }
                    &:nth-child(3){
                        color: #FF0000;
                        font-size: 16px;
                    }
                    &:nth-child(4){
                        color: #0066FF;
                        font-size: 16px;    
                    }
                }
            }
        }
    }
}