@import "common.scss";
@import "style.scss";

a{
    color: #000000;
    text-decoration: none;
    &:hover{
        color: #000000;
    }
}

header {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/home/slide-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 691px;
    position: relative;
    z-index: 99;
    .header {
        width: 100%;
        margin: 0 auto;
        background-color: #51514e;
        opacity: 0.9;
        position: fixed;
        z
        &-content {
            max-width: 1190px;
            min-height: 70px;
            display: flex;
            align-items: center;
            min-height: 70px;
            .logo {
                width: 20%;
                display: flex;
                justify-content: flex-start;
                img {
                    max-width: 60%;
                    height: auto;
                    object-fit: contain;
                }
            }
            .menu {
                flex: 1;
                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    justify-content: flex-end;
                    li {
                        display: flex;
                        justify-content: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        a {
                            font-size: 13px;
                            color: #ffffff;
                            font-weight: 500;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                        &:nth-child(1) {
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 45px;
                            }
                        }
                        @media (max-width: 1025px) {
                            padding-left: 6px;
                            padding-right: 6px;
                        }
                    }
                    .search {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        input {
                            height: 30px;
                            border: 1px solid #fb7c35;
                            border-radius: 4px;
                            background-color: #51514e;
                            padding-left: 5px;
                            &::placeholder {
                                color: #ffffff;
                                font-size: 13px;
                                padding-bottom: 4px;
                            }
                            &:focus {
                                outline-width: 0;
                            }
                        }
                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: 3%;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            color: #ffffff;
                            background-color: #fb7c35;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            cursor: pointer;
                            &:hover {
                                color: #000000;
                            }
                        }
                    }
                    .cart {
                        width: 45px;
                        height: 45px;
                        svg {
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                    .sign {
                        &-icon {
                            font-size: 20px;
                            color: #fff;
                            &:hover {
                                color: #fb7c35;
                            }
                        }
                    }
                }
            }
        }
    }
}

.table-tea{
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-bottom: 50px;
    &-content{
        display: flex;
    }
    .nav-bar{
        .list-product{
            display: flex;
            flex-direction: column;
            line-height: 35px;
            .title{
                font-weight: 700;
            }
            li{
                a{
                   
                    text-decoration: none;
                    color: #000000;
                    font-weight: 400;
                    .icon{
                        color: #F47B36;
                        width: 20px;
                    }
                    span{
                        &:hover{
                            border-bottom: 1px solid #F47B36;
                        }
                    }
                }
                &:nth-child(1){
                    margin-left: 10px;
                }
                &:nth-child(2){
                    margin-top: 20px;
                }
            }
            padding-bottom: 30px;
            border-bottom: 1px solid #C4C4C4;
        }
        .product{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .title{
                font-weight: 700;
            }
            li{
                margin-top: 15px;
                display: flex;
                .product-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        object-fit: cover;
                        width: 50px;
                        height: auto;
                    }
                }
                .product-text{
                    padding-left: 15px;
                    p{
                        margin: 0;
                        color: #000000;
                        font-weight: 400;
                        &:nth-last-child(1){
                            font-weight: 700;
                            color: #51514E;
                        }
                    }

                }
            }
        }
    }
    .content{
        flex: 1;
        padding-top: 5px;
        margin-left: 25px;
        .col-table-content{
            margin-top: 100px;
            padding: 30px;
            cursor: pointer;
            border: 1px solid transparent;
            &:hover{
                border: 1px solid #51514E;
            }
            .table-product{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    &:nth-child(1){
                        text-align: center;
                    }
                }
                .col-table-main{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    .left{
                        .label{
                            color: #000000;
                            font-weight: 400;
                            text-align: start;
                            margin: 0;
                        }
                        .total{
                            color: #51514E;
                            font-weight: 700;
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                    }
                }
                img{
                   width: 108px;
                   height: 108px;
                    object-fit: contain;
                }
               
            }
        }
        .see-more{
            margin-top: 30px;
            a{
                display: flex;
                text-decoration: none;
                span{
                    margin: 0 auto;
                    padding: 5px 30px;
                    border: 1px solid #F47B36;
                    color: #F47B36;
                    &:hover{
                        background-color: #F47B36;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.content-select{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cart{
    position: relative;
    display: flex;
    align-items: center;
}
.cart-content{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F47B36;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    opacity: 0;
}